@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
                                    font-family: "Mulish", sans-serif;
          
}


nav{
                                    display: flex;
                                    justify-content: space-between;
                                    margin: 30px 150px;
                                    align-items: center;
                                    
}
.nav-title{
                                    display: flex;
                                    
                                    gap: 20px;
                                    
                                    
}
.nav-title-font{
                                    font-size: 36px;
                                    font-weight: 800;
                                    
} 
.nav-img{
                                    height: 50px;
                                    padding-top: 30px;
}
.nav-bar{
                                    display: flex;
}
nav > ul{
                                    display: flex;
}
nav li{
                                    list-style: none;
                                    
}
nav li a{
                                    text-decoration: none;
                                    margin-left: 50px;
                                    font-size: 18px;
                                    color: #424247;
                                    padding-top: 20px;
}
.color-orange{
                                    color: #FF5400;
}
.title{
                                    font-size: 64px;
                                    font-weight: 800;
                                    padding-bottom: 0px;
                                    color: #FFFFFF;
                                    
                                    
}
.header-para{
                                    font-size: 16px;
                                    padding-top: 0px;
                                    padding-bottom: 10px;
                                    color: #FFFFFF;
                                    
}
.container{
                                    text-align: center;
                                    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
                                    background-repeat: no-repeat;
                                    height: 500px;
                                    width: 100%;
                                    background-position: center;
                                    padding-top: 60px;
                                    
                                    
                                    
}
.form{
                                    background-color: #ffffff4b;
                                    height: 100px;
                                    padding-top: 30px;
                                    margin-left: 300px;
                                    margin-right: 300px;
                                    font-size: 16px;
                                    display: flex;
                                    justify-content: center;
                                    gap: 20px;
                                    
                                    
}
.box-size{
                                    height: 60px;
                                    border-radius: 10px;
                                    width: 180px;
                                    padding-left: 20px;
                                    
}
.box-size-1{
                                    height: 65.6px;
                                    width: 180px;
                                    border-radius: 10px;
                                    color: #13131886;
                                    padding-left: 20px;
}
.btn-primary{
                                    height: 65.6px;
                                    width: 180px;
                                    background-color: #FF5400;
                                    border-radius: 10px;
                                    color: #FFFFFF;
                                    font-size: 16px;
                                    border: none;
}
.main{
                                    display: flex;
                                    /* justify-content: space-between; */
                                    margin: 50px;
                                    gap: 80px;
                                    justify-content: center;
}
.main-para{
                                    width: 577px;
}
.main-title{
                                    font-size: 40px;
}
.main-description{
                                    font-size: 16px;
                                    color: #1313187e;
}
.tour{
                                    margin: 20px;
}
.mountain{
                                    width: 500px;
}

.spot{
                                    text-align: center;
                                    
}
.spot-title{
                                    font-size: 40px;
                                    font-weight: 800;
                                    margin-top: 90px;
}


.first-photo-container{
                                    display: flex;
                                    gap: 30px;
                                    margin: 30px 150px;
                                    justify-content: center;
                                    
}
                                    
.second-photo-container{
                                    display: flex;
                                    gap: 27px;
                                    margin: 30px 150px;
                                    justify-content: center;
}
.third-photo-container{
                                    display: flex;
                                    gap: 30px;
                                    margin: 30px 150px;
                                    justify-content: center;
}
.card-container{
                                    display: flex;
                                    gap: 50px;
                                    justify-content: center;
                                    margin-top: 50px;
                                    
}
.card-1{
                                    background-color: #fbb46342;
                                    padding: 40px;
                                    height: 180px;
                                    width: 500px;
                                    border-radius: 10px;
}
.card-2{
                                    background-color: #29cdf630;
                                    padding: 40px;
                                    height: 180px;
                                    width: 470px;
                                    border-radius: 10px;
}

.perfect-place{
                                    display: flex;
                                    justify-content: center;
                                    margin: 105px;
                                    gap: 40px;
}
.newsletter{
                                    display: flex;
                                    justify-content: center;
                                    gap: 80px;
}
.newsletter-container{
                                    width: 350px;
                                    border: 1px solid #FF5400;
                                    height: 400px;
                                    padding: 50px;
                                    border-radius: 10px;
                                    
}
.newsletter-detail{
                                    width: 330px;
                                    margin:  10px;
                                    height: 40px;
                                    border-radius: 10px;
                                    font-size: 16px;
                                    color: #13131848;
                                    padding-left:10px ;
}
.newsletter-btn{
                                    width: 330px;
                                    height: 40px;
                                    border-radius: 10px;
                                    text-align: center;
                                    background-color: #FF5400;
                                    color: #FFFFFF;
                                    font-size: 20px;
                                    font-weight: 800;
}
.img-news{
                                    height: 500px;
                                    width: 710px;
}
.newsletter-dis{
                                    background-color: #FF5400;
                                    width: 200px;
                                    padding-top: 10px;
                                    padding-left: 20px;
                                    padding-bottom: 30px;
                                    height: 100px;
                                    border-radius: 10px;
                                    color: #FFFFFF;
                                    transform: rotate(-25deg);
                                    position: relative;
                                    left: 500px;
                                    bottom: 150px;
}

footer{
                                    background-color: #13131816;
                                    margin:30px 110px;
                                    height: 300px;
                                    padding-top: 50px;
                                    
}
.footer-head{
                                    display: flex;
                                    justify-content: center;
                                    
}
.footer-body{
                                    text-align: center;
}
.footer-end{
                                    display: flex;
                                    justify-content: center;
}
.hori{
                                    width: 800px;
                                    border: 1px solid #13131816;
                                    

}
.footer-close{
                                    text-align: center;
}






@media screen and (max-width:576px) {
           nav{
                                    display: block;
                                    margin: 0;
                                    
           }
          nav > ul{
                                    flex-direction: column;
                                    
                                    
          }
          .title{
                                    font-size: 22px;
          }
          .header-para{
                                    font-size: 14px;
          }
          .form{
                                   flex-direction: column;
                                   margin: 0 30px;
                                  display: grid;
                                  height: 300px;
                                  

          }
          .container{
                                    height: 600px;
                                    width: 100%;
                                    margin: 0 ;
                                    border-radius: 10px;
                                   
                                    
          }
          .main{
                                    display: block;
                                    margin: 0;
          }
          .main-para{
                                    width: 400px;
          }
          .mountain{
                                    width: 100%;
                                    margin-top: 30px;
          }
          .first-photo-container{
                                    display: flex;
                                    flex-direction: column;
                                    width: 390px;
                                    margin-left: 2px;

                                    
          }
          .second-photo-container{
                                    display: flex;
                                    flex-direction: column;
                                    width: 390px;
                                    margin-left: 2px;
          }
          .third-photo-container{
                                    display: flex;
                                    flex-direction: column;
                                    width: 390px;
                                    margin-left: 2px;
          }
          .card-container{
                                    display: block;
                                    
          }
          .card-1{
                                    width: 300px;
                                    height: 250px;
                                    padding-top: 80px;
                                    margin-left: 10px;
                                    margin-bottom: 20px;
          }
          .card-2{
                                    width: 300px;
                                    height: 250px;
                                    padding-top: 80px;
                                    margin-left: 10px;
                                    margin-bottom: 20px;
          }
          .card-3{
                                    position: static;
                                    width: 300px;
                                    height: 250px;
                                    padding-top: 80px;
                                    margin-left: 10px;
                                    margin-top: 0px;
          }
          .perfect-place{
                                    display: block;
                                    margin: 0;
          }
          footer{
                                    width: 400px;
                                    margin-left: 0px;
                                    height: 300px;
                                    margin-bottom: 30px;
                                    margin-top: 5px;
                                    
          }
          .hori{
                                    width: 400px;
          }
          .newsletter{
                                    display: block;
          }
          .newsletter-container{
                                    width: 320px;
                                    height: 300px;
                                    margin-top: 20px;
                                    margin-bottom: 10px;
          }
          .newsletter-detail{
                                    width: 300px;
          }
          .newsletter-btn{
                                    width: 290px;
                                    
          }
          .img-news{
                                    width: 420px;
                                    height: 400px;
                                    margin-bottom: 0px;
          }
          
           
                                    
}

                             





